<ion-list>
  <ion-item class="item-divider">
    <p class="text-center calm" style="color: #007aff;font-weight: bold;">测试成绩单</p>
  </ion-item>
  <ion-item class="item-body">
    测试分数：15分
  </ion-item>
  <ion-item class="item-divider">
    <p class="text-center" style="color: #007aff;font-weight: bold;">做题记录</p>
  </ion-item>
  <ion-item class="item-body">

  </ion-item>
  <ion-item class="item-divider">
    <p style="font-size: 14px;">备注:您还可以使用练习模式主题测试。</p>
  </ion-item>
</ion-list>
<div class="row">
  <div class="col col-50">
    <div class="button button-block button-calm">提交答案</div>
  </div>
  <div class="col col-50">
    <div class="button button-block button-calm">求教名师</div>
  </div>
</div>