<ion-view title="TPO {{topNo}}" can-swipe-back="false" hide-tabs="true">
  <ion-nav-buttons side="left">
    <button ng-click="goBack()" style="color: white;" class="button button-clear">
      <span class="icon ion-arrow-left-c"></span>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="toefl-clock" ng-show="testType.checked"></div>
    <button class="button button-clear" ng-hide="testType.checked">
      <span class="icon ion-navicon"></span>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-footer has-subfooter" has-header="true" padding="true">
    <div ui-view="listen-root"></div>
  </ion-content>
  <ion-footer-bar ng-show="showButton&&testType.checked">
    <button ng-show="true" class="button button-light" style="width: 100%;" ng-click="continue()" ng-disabled="!question.answer[0]">下一题
    </button>
  </ion-footer-bar>
  <ion-footer-bar class="bar-subfooter positive-bg" ng-hide="testType.checked">

  </ion-footer-bar>
  <ion-footer-bar class="bar-footer" ng-hide="testType.checked">
    <div class="row" style="align-items: center;">
      <div class="col-33">
        <button class="button" style="width: 100%" ng-disabled="qNumber==0">上一题</button>
      </div>
      <div class="col-33">
        <button class="button" style="width: 100%" ng-disabled="true">显示答案</button>
      </div>
      <div class="col-33">
        <button class="button" style="width: 100%" ng-disabled="qNumber==sences.length-3">下一题</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>