<ion-view title="TPO {{topNo}}" can-swipe-back="false" hide-tabs="true">
  <ion-nav-buttons side="left">
    <button ng-click="goBack()" style="color: white;"  class="button button-clear">
      <span class="icon ion-arrow-left-c"></span>
    </button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div style="margin-top:10px;">
      <ion-list>
        <ion-item class="item-accordion item-icon-right"
                  ng-click="startListen(item.id)"
                  ng-repeat="item in listenSectionList">
          {{item.name}}
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>