<toefl-sound resource="question.questionSound" complete-event="question.sound-complete" replay-again="{{question.questionStartPoint}}"></toefl-sound>

<div class="row" ng-switch on="question.questionType" style="margin-top: 20px;">
  <div style="width: 100%; margin-left: auto; margin-right: auto;">
    <div>
      <div ng-switch-when="MultipleChoice">
        <ol type="1" start="{{ question.number }}">
          <li>
            <div class="question-description" style="font-size: 16px;padding-left: 8px;" ng-bind-html="question.description"></div>
            <form class="answer-choices" ng-switch on="question.numAnswers">
              <!-- 单选题 -->
              <div ng-switch-when="1" class="checkbox checkbox-calm" ng-repeat="choice in question.choices">
                <label>
                  <input style="display: inline-block;" type="radio"
                         ng-model="question.answer[0]"
                         ng-value="choice.key"
                         ng-disabled="question.showAnswer">
                  <p class="option-style" ng-class="{true:'option-answer',false:''}[question.showAnswer&&choice.rightAnswer]">{{ choice.value }}</p>
                </label>
              </div>
              <!-- 多选题 -->
              <div ng-switch-default class="checkbox checkbox-calm" ng-repeat="choice in question.choices">
                <label>
                  <input style="display: inline-block" type="checkbox"
                         ng-disabled="question.showAnswer"
                         checklist-model="question.answer" checklist-value="choice.key">
                  <p class="option-style" ng-class="{true:'option-answer',false:''}[question.showAnswer&&choice.rightAnswer]">{{ choice.value }}</p>
                </label>
              </div>
            </form>
          </li>
        </ol>
      </div>

      <div ng-switch-when="Sequence">
        <ol type="1" start="{{ question.number }}">
          <li>
            <div class="question-description" style="font-size: 16px;padding-left: 8px;" ng-bind-html="question.description"></div>
          </li>
        </ol>

        <div class="checkbox checkbox-calm" ng-repeat="choice in question.choices">
          <label>
            <input type="checkbox"
                   checklist-model="question.answer" checklist-value="choice.key"
                   ng-disabled="question.showAnswer||question.exampleChoices[0]==choice.key">
            <p class="option-style">{{ choice.value }}<span ng-show="question.showAnswer" style="border-radius:15px;font-size:16px;background-color:green;color:#fff">{{choice.rightAnswer}}</span> </p>
          </label>
        </div>
        <div>
          <div class="row">
            <div class="col col-20">
              排序
            </div>
            <div class="col col-60">
              <i class="calm" ng-repeat="answer in question.answer track by $index">
              {{answer}}
              </i>
            </div>
          </div>
        </div>
      </div>

      <div ng-switch-when="CategoryTable">
        <ol type="1" start="{{ question.number }}">
          <li>
            <div class="question-description" style="font-size: 16px;padding-left: 8px;" ng-bind-html="question.description"></div>
          </li>
        </ol>
        <div>
          <div class="checkbox checkbox-calm" ng-repeat="choice in question.choices">
            <p><span style="font-weight: bold;font-size: 16px;">{{choice.key}}.</span> &nbsp;{{ choice.value }}</p>
            <div class="row" style="margin-top: -10px;">
              <label class="col col-50" ng-repeat="option in question.answer" ng-click="testIndex($parent.$index)">
                <input type="radio" name="{{choice.key}}" ng-disabled="question.showAnswer">
                <p class="option-style" style="margin-top: -25px;">{{ option.category }}</p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>