<ion-view title="TPO {{topNo}}" can-swipe-back="false" hide-tabs="true">
  <ion-nav-buttons side="left">
    <button ng-click="goBack()" style="color: white;" class="button button-clear">
      <span class="icon ion-arrow-left-c"></span>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="showViewMenu()" ng-disabled="!practiceView">
      <span class="icon ion-navicon"></span>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-footer" ng-class="{true:'has-subfooter',false:''}[practiceView=='question']" has-header="true"
               padding="true">
    <div ui-view="practice-root"></div>
  </ion-content>
  <ion-footer-bar ng-show="practiceView=='question'" class="bar-footer"
                  ng-class="{true:'bar-subfooter',false:''}[practiceView=='question']">
    <div class="row" style="align-items: center;">
      <div class="col-33">
        <button class="button" style="width: 100%" ng-disabled="qNumber<=0||practiceView!='question'||canButtonUsed"
                ng-click="back()">
          上一题
        </button>
      </div>
      <div class="col-33">
        <button class="button" style="width: 100%" ng-disabled="practiceView!='question'"
                ng-click="showAnswer()">
          显示答案
        </button>
      </div>
      <div class="col-33">
        <button class="button" style="width: 100%"
                ng-disabled="(qNumber==unit.questions.length-1)||practiceView!='question'||canButtonUsed"
                ng-click="next()">下一题
        </button>
      </div>
    </div>
  </ion-footer-bar>
  <ion-footer-bar class="bar-calm" ng-show="practiceView" ng-disabled="true" style="padding: 0;">
    <audio-player style="width: 100%;margin-top: -2px;" audio-url="unit.listeningSound"></audio-player>
  </ion-footer-bar>
</ion-view>