<ion-view title="我的学习">
  <ion-nav-buttons side="right">
    <button class="button button-clear">
      登录
    </button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div class="list card">
      <div class="item item-divider">
        <h2>听力学习记录</h2>
      </div>
      <div class="item item-body">
        这里展示资源列表。学习过的听力资料在这里显示
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        口语学习记录
      </div>
      <div class="item item-body">
        已经练习过的口语资料在这里显示
      </div>
    </div>
  </ion-content>
</ion-view>