<ion-tabs class="tabs-icon-top tabs-color-active-royal" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view animation="slide-left-right" name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="列表" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#tab/list">
    <ion-nav-view animation="slide-left-right" name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="课程" icon-on="ion-cube" icon-off="ion-cube" href="#tab/news">
    <ion-nav-view animation="slide-left-right" name="news-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#tab/set">
    <ion-nav-view animation="slide-left-right" name="set-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
