<div class="" style="padding:150px 5px 50px 5px;">

    <div ng-bind-html="unit.description">
    </div>
    <i class="positive block text-center" ng-class="iconType" style="font-size: 80px;"></i>
    <i class="positive block text-center" ng-class="iconTypePlay" style="font-size: 80px;"
       on-tap="togglePlay()"></i>

  <speak-clock></speak-clock>
    <div ng-show="saveData">
      <button class="button button-positive button-block" ng-click="">保存到本机
      </button>
      <button class="button button-positive button-block" ng-click="">上传到服务器
      </button>
    </div>

    <toefl-sound resource="selectSoundFile" complete="changeSoundAndIcon()"></toefl-sound>

</div>